<%= form_for [@site_group, @tag] do |f| %>

<div class="row">
  <div class="col-sm-8">

    <% if @tag.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p><strong><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</strong></p>

        <ul>
        <% @tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :permalink %>
      <%= f.text_field :permalink, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :lists %>
      <%= f.collection_select :list_ids, @site_group.lists, :id, :name, {}, multiple: true, class: 'form-control', data: { toggle: 'common_tags_list_select'} %>
    </div>

    <div class="checkbox">
      <label>
        <%= f.check_box :specialization, class: 'checkbox' %>
        specialization?
      </label>
    </div>

    <div class="form-group">
      <%= f.submit 'Save', class: 'btn btn-success' %>
    </div>

  </div>
</div>

<% end %>
